/* Base Styles */
* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    background-color: var(--bgColor);
    font-family: chill, sans-serif;
    font-size: 18px;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin-top: 30px;
}

/* Layout */
.navbar {
    background-color: var(--boxColor);
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 0;
    z-index: 3;
    justify-content: space-between;
    flex-wrap: wrap;
    pointer-events: all;
}

.navbar-left {
    display: flex;
    align-items: flex-start;
    margin-right: auto;
}

.navbar-right {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

main {
    margin-top: 80px;
    color: var(--textColor);
    text-align: center;
    position: relative;
    z-index: 2;
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 20px;
}

.login-div {
    background-color: var(--boxColor);
    color: var(--textColor);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.button-group {
    display: block;
}

.remember-me {
    display: flex;
    align-items: center;
    
}
.remember-me label {
    font-size: 14px;
    text-align: left;
}

.login-div #myCheckbox {
    width: auto;
    margin-left: 8px;
    margin-top: 10px;
}

.register-link p {
    display: block;
}

.register-link {
    padding-top: 30px;
}




/* Components */

.register-link p, .register-link a{
    font-size: 12px;
}

.register-link a {
    align-items: flex-start;
    appearance: auto;
    display: block;
}

.main-login i {
    float: left;
    padding: 4px;
}

a, button {
    font-family: chill, sans-serif;
    font-size: 18px;
    display: block;
    gap: .25rem;
    background-color: var(--boxColor);
    color: var(--bgColor);
    cursor: pointer;
    transition: all .3s;
    padding: 4px 24px;
    border: 1px solid var(--bgColor);
    text-decoration: none;
    
}

.projectButton {
    background-color: var(--repoColor);
    color: var(--repoText);
    border: 1px solid var(--repoText);
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: clamp(0px, 95vw, 680px);
    margin: auto;
    overflow: hidden;
}

.imgContainer img {
    width: 45%;
    height: auto;
    transition: all .3s;
}

.imgContainer img:hover {
    transform: scale(1.1);
    filter: brightness(.8);
    cursor: zoom-in;
}

.fullsize {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--boxColor);
    z-index: 5;
    cursor: zoom-out;
}

.fullsize img {
    max-width: 100vw;
    max-height: 100vh;
    width: 80%;
    height: 80%;
    margin-top: 30px;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}



/* Typography */
h1 {
    display: inline-block;
    color: var(--bgColor);
    background-color: var(--boxColor);
    font-family: public-pixel, monospace;
    font-size: 2em;
    padding: 4px 16px 8px;
    margin: 0 auto .3em;
}

h2 {
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    color: var(--bgColor);
    background-color: var(--boxColor);
    font-family: public-pixel, monospace;
    padding: 4px 16px 8px;
    margin: .3em auto;
}

p {
    display: block;
    margin-block: 1em;
    color: var(--textColor);
    line-height: 1.5;
    text-align: left;
    width: clamp(0px, 95vw, 680px);
    margin: auto;
    box-sizing: border-box;
}

/* Lists */
ul {
    list-style-type: disc;
    padding: 16px;
    text-align: left;
    width: clamp(0px, 95vw, 680px);
    margin: auto;
}

li {
    color: var(--boxShadowText);
}

hr {
    width: 100px;
    height: 2px;
    background-color: none;
    margin: 40px auto;
    border: none;
    border-bottom: dashed 2px var(--boxColor);
}

/* Sections */
/* Sections */
section {
    padding-bottom: 64px;
    margin-bottom: 80px;
    position: relative;
}

section:after {
    content: '';
    border-bottom: dashed 2px var(--boxColor);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(0px, 95vw, 680px);
}

.login-div h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-div input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--textColor);
    border-radius: 4px;
    box-sizing: border-box;
}


/* Utility Classes */
.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    list-style-type: none;
    padding: 16px;
    transition: all .3s;
}

.skills li {
    display: inline-block;
    padding: 4px 8px;
    box-shadow: 1px 1px 2px 1px var(--boxShadow);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        padding: 10px;
        justify-content: center;
    }

    .navButton {
        padding: 8px 16px;
        font-size: 16px;
    }

    main {
        top: 50px;
    }
}

/* CSS Variables */
:root {
    --bgColor: black;
    --boxColor: #006633;
    --repoColor: #f6f2ef;
    --textColor: white;
    --boxShadow: #ECB23A;
    --repoText: #006633;
    --boxShadowText: #ECB23A;
}
